.App {
  text-align: center;
}
body {
  background-image: url(./img/background-todo-list.jpg);
  width: 100%;
  height: auto;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  font-family: 'Just Another Hand', cursive; 

}

@media only screen and (max-width: 768px) {
  body {
  background-image: url(./img/background-todo-list.jpg);
  width: 80%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  }
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 768px) {
.container,
h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  }
}

.content-box {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: justify;
  color: black;
  box-shadow: rgba(223, 11, 11, 0.658);
  background-color: rgba(245, 245, 245, 0.541);
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
  margin-left: 400px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .content-box {
  width: 80%;
  height: auto;
  display: flex;
  margin-left: 200px;
  text-align: justify;
  padding: 2px;

  }
}

@media only screen and (max-width: 768px) {
  .content-box h1 {
    padding: 10px;
  }
}

input {
  display: inline-flex;
  padding: 5px;
  font-family: 'Just Another Hand', cursive;  border: solid white;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  label {
    padding: 0;
    font-size: 20px;
    margin: 0;
  }
}

label {
  font-size: 25px;
  font-family: 'Just Another Hand', cursive;  
  margin: 10px;

}

.edit-task {
  display: flex;
  justify-content: center;
  gap: 20px;
}

h1 {
  font-family: 'Just Another Hand', cursive;  
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

label select {
  border: solid white;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}

label input {
  margin: 10px;
}

.Tasklist {
  font-family: 'Just Another Hand', cursive;  
  font-size: 25px;
  display: flex;
  flex-flow: column wrap;
}

.Tasklist h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}


